@import url(./header.css);
@import url(./footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --verde-claro: #81ba5e;
  --verde-escuro: #2c7400;
  --cinza: #d9d9d9;
  --branco: #ffffff;
  --preto: #000000;
  --vermelho: #ff0a0a;

  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

body {
  background-color: #f0fbf3;

  font-family: var(--font-poppins);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

input,
button {
  border: none;
  background-color: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Container Responsivo (Bootstrap) */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* Toggle Event in JS*/
.show-inline {
  display: inline;
}

.show-inlineBlock {
  display: inline-block;
}

.show-inlineFlex {
  display: inline-flex;
}

.show-block {
  display: block;
}

.show-flex {
  display: flex;
}

.show-grid {
  display: grid;
}
