#header {
  height: auto;
  background-color: var(--verde-claro);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 70px;
}

.header__logo {
  min-width: 100px;
}

.header__actions {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.header__actions i {
  font-size: 1.35rem;
  color: var(--branco);
  cursor: pointer;
}

/* dropdown */
.menuUser {
  position: absolute;
  top: -50%;
  right: 0;
  z-index: 1000;
  transform: translateY(50%);

  display: none;
  gap: 0.2rem;
  flex-direction: column;

  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--branco);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: start;
}

.menuUser a {
  color: var(--preto);
}

.menuUser__items {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.menuUser__items:hover {
  background-color: var(--vermelho);
  color: var(--branco);
}

/* Search */
.dropSearch {
  display: none;
  padding-bottom: 1rem;
}

.search {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--branco);
  border-radius: 0.5rem;
}

.search label {
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.5rem;
  color: var(--branco);
  background: var(--verde-escuro);
}

.search input {
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  outline: none;

  letter-spacing: 1px;
}
