.notVisible {
    visibility: hidden;
}

.l-box {
  width: 80%;
  max-width: 600px;
  padding: 0 16px;
  margin: 5vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.180);
    border-radius: 5%;
}

main h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0px 30px 0px;
}

main h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 400
}

.acess {
    display: flex;
    justify-content: center;
}

.inputLogin {
    background-color: #d9d9d957;
    margin: 0px;
    border: 2px solid #85858557;
    width: 100%;
    border-radius: 3px;
    height: 5vh;
    min-height: 30px;
}

.opcoesSenha {
    display: flex;
    justify-content: space-between;
    margin: 5% 0px;
}

label, a {
    font-size: .8rem;
}

.acess button[type='submit'] {
    background-color: red;
    color: white;
    width: 100%;
    height: 4vh;
    min-height: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.315);
    margin: 10px 0px;
    display: block;
    
}


.register {
    display: flex ;
    background-color: #D9D9D9;
    margin-top: 15px;
    padding: 10px 25px 10px 25px;
    justify-content: space-around;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.register span {
    font-size: .8rem;
    margin: auto;
}

.register input[type='button'] {
    background-color: red;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.315);
    padding: 2%;
    
}