.notVisible {
    visibility: hidden;
}

.l-box {
    width: 80%;
    height: 40vh;
    margin: 10vh auto;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.180);
    border-radius: 5%;
    max-width: 600px;
}

main h1 {
    text-align: center;
    padding-top: 15px;
    font-size: 1rem;
}

.acess {
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
}

.inputLogin {
    background-color: #d9d9d957;
    margin: 0px;
    border: 2px solid #85858557;
    width: 100%;
    border-radius: 3px;
    height: 5vh;
    min-height: 30px;
}

.acess button[type='submit'] {
    background-color: red;
    color: white;
    width: 100%;
    height: 4.5vh;
    min-height: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.315);
    margin: 20px 0px;
    display: block;
}
