#dadosPessoais .container {
  background-color: var(--branco);
  border-radius: 1rem;
  padding: 16px 32px;

  margin: 1.25rem 1.5rem;
}

@media (min-width: 1200px) {
  #dadosPessoais .container {
    margin: 1.25rem auto;
  }
}

.dados {
  display: grid;
  row-gap: 1rem;
}

@media (min-width: 635px) {
  .dados {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

.dadosPessoais_titulo {
  text-align: center;
  margin-bottom: 20px;

  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--font-roboto);
}

.dadosPessoais_dados {
  min-width: 200px;

  word-wrap: break-word;
  font-weight: 400;
  font-family: var(--font-poppins);

  box-shadow: 0px 6px 4px -6px rgba(0, 0, 0, 0.25);
}

.dadosPessoais_dados span {
  display: block;
}

.dados_identificacao {
  font-size: 1rem;
  margin-bottom: 2px;
}

.dados_campo {
  width: 100%;
  background-color: #efefef;
  border-radius: 0.5rem;
  padding: 4px 8px;

  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.dados_campo:last-child {
  text-transform: none;
}

.dados_editar {
  display: flex;
  justify-content: end;

  margin: 16px 0 4px;
}

.dados_editar button {
  border: none;
  border-radius: 0.25rem;
  background-color: var(--vermelho);
  color: var(--branco);
  padding: 8px 16px;

  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font-roboto);
  letter-spacing: 1px;
}
