/* 
    Nesse arquivo vai ter alguns resetes, 
    mas também tera variaveis de cor, fonte, etc.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-claro: #81BA5E;
    --verde-escuro: #2C7400;
    --cinza: #D9D9D9;
    --branco: #FFFFFF;
    --preto: #000000;
    --vermelho: #FF0A0A;

    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

body {
    background-color: #F0FBF3;
}

.container {
    margin: 0 1.5rem;
}

@media (min-width: 1200px) {
    .container {
        margin: 0 auto;
        max-width: 1200px;
    }
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}