* {
  margin: 3px auto 3px auto;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 243, 246);
  width: 650px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

#titulo {
  font-weight: 600;
  align-self: center;
  text-align: center;
  font-size: 170%;
  color: rgb(65, 65, 65);
  font-family: Arial, Helvetica, sans-serif;
}

#subtitulo {
  font-weight: 600;
  align-self: center;
  text-align: center;
  font-size: 100%;
  color: rgb(65, 65, 65);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  background-color: #ffffff;
  border-radius: 11px;
  border-style: solid;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2% 0% 0% 0%;
  cursor: pointer;
  color: rgb(65, 65, 65);
  font-weight: 900;
}
