<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhando com flexbox</title>
    <link rel="stylesheet" href="../../public/css/carrinho.css">
</head>

<body>
    <p class="titulo">Carrinho</p>
    <main>
<div class="A">
    <div class="A1">
        <img class="imgMaca" src="../../public/image/imgCarrinho/maca.png" alt="maçã">
        <p class="nomeProduto">MAÇÃ VERMELHA</p>
    </div>
    
    <div class="A2">
        <button class="button1">500g&nbsp&nbsp&nbsp+</button> 
        <p class="valorProduto">R$12,35</p>
    </div>
</div>

<div class="risco"><hr></div>


<div class="B">
    <div class="B1">
        <p>Frete</p>
        <p>Total com frete</p>
    </div>

    <div class="B2">
        <p>R$ 5,00</p>
        <p>R$17,35</p>
    </div>
</div>

<div class="risco"><hr></div>

    
    <div class="C">
            <button class="button2">
                Finalizar Compra
            </button>
    </div>

    </main>

</body>
</html>