<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="formulário.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="campo">
        <h1 id="titulo">Já tenho uma conta</h1>
        <br/>
    </div>

    <form action="" method="get" class="cadastro">
        <fieldset class="grupo">
            <div class="campo">
                <label for="cpf"><strong>Digite seu CPF ou CNPJ*</strong></label>
                <input type="cpf" id="cpf" inputmode="cpf" minlength="11" maxlength="14"
    pattern="^[0-9]{3}.?[0-9]{3}.?[0-9]{3}-?[0-9]{2}"
    required autocomplete="on">
<br>
            </div>
            <div class="campo">
                <label for="password"><strong>Senha* (8 caracteres no mínimo)</strong></label>
                <input type="password" nome="password" id="password" minlength="8" required>
            </div>
            <div class="campo">
                <label>
                    <input type="radio" name="lembrarsenha" value="lembreme">Lembre-me
                </label>
            </div>
            <input type="submit" value="Acessar">
            <div class="campo">
            <a href="#" id="forgot-pass">Perdeu sua senha?</a>
            </div>
            <div id="register-container">
                <p>Ainda não tem conta?</p>
            <a href="#">Registrar</a>
            </div>
        </fieldset>
    </form>
</body>
</html>