<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFruits - Perfil Usuário</title>

    <!-- CSS do default e header/footer -->
    <link rel="stylesheet" href="../../public/css/default.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/footer.css">
    <link rel="stylesheet" href="../../public/css/menu-fixo.css">
    <link rel="stylesheet" href="../../public/css/meusPedidos.css">
    <link rel="stylesheet" href="../../public/css/dadosPessoais.css">
    
    <!-- CDN FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Fonts Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    
</head>
<body>
    <header id="header">
        <nav class="container">
            <div class="header_menu">
                <div>
                    <a href="#" class="menu_logo">
                        <img src="../../public/image/logo.svg" alt="logo do Ifruits">
                    </a>
                </div>
    
                <div class="menu_icones">
                    <ul>
                        <li>
                            <i class="fa-solid fa-user"></i>
                        </li>
    
                        <li>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </li>
    
                        <li>
                            <i class="fa-solid fa-bars"></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <form>
                    <div class="input_procurar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Pesquise aqui">
                    </div>
                </form>
            </div>
        </nav>
    </header>

    <main id="dadosPessoais">
        <div class="container">
            <h2 class="dadosPessoais_titulo">Dados Pessoais</h2>

            <div class="dados">
                <div class="dadosPessoais_dados">
                    <span class="dados_identificacao">Nome:</span>
                    <span class="dados_campo">Felipe</span>
                </div>
    
    
                <div class="dadosPessoais_dados">
                    <span class="dados_identificacao">Sobrenome:</span>
                    <span class="dados_campo">Alencar da Silva</span>
                </div>
    
                <div class="dadosPessoais_dados">
                    <span class="dados_identificacao">CPF:</span>
                    <span class="dados_campo">123.456.789-01</span>
                </div>
    
                <div class="dadosPessoais_dados">
                    <span class="dados_identificacao">Endereço:</span>
                    <span class="dados_campo">Rua Alencar Bezera</span>
                </div>
    
                <div class="dadosPessoais_dados">
                    <span class="dados_identificacao">Email:</span>
                    <span class="dados_campo">felipe.alencar@gmail.com</span>
                </div>
            </div>

            <div class="dados_editar">
                <button>editar</button>
            </div>
        </div>
    </main>

    <section id="meusPedidos">
        <div class="container">
            <h2 class="pedidos_titulo">Meus Pedidos</h2>

            <div class="pedidos">
                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                        <span>130g</span>
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>

                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                        <span>130g</span>
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>

                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                        <span>130g</span>
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>

                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                        <span>130g</span>
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>

                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                        <span>130g</span>
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container">
            <p>&#169; 2022 Tomatinho da vovó, Inc. All rights reserved</p>
    
            <ul>
                <li>
                    <a href="#" class="footer_redesSociais">
                        <i class="fa-brands fa-facebook"></i>
                    </a>        
                </li>

                <li>
                    <a href="#" class="footer_redesSociais">
                        <i class="fa-brands fa-instagram"></i>
                    </a>        
                </li>

                <li>
                    <a href="#" class="footer_redesSociais">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>