<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/default.css">
    <link rel="stylesheet" href="../../public/css/produto.css">
</head>
<body>
    <main>
        <section>
            <div id="orient">
                <p><a href="">Home </a>&gt; <a href="">Frutas </a>&gt; Maçã</p>
            </div>
            <div id="image">
                <a href="#">
                    <img src="../../public/image/maca.jpg" alt="maçã">
                </a>
            </div>
            <div id="container">
                <div id="descricao">
                        <p>Maçã 500g</p>
                        <p><strong>R$ 2,99</strong></p>
                </div>
                <div id="add">
                    <input type="button" value="Adicionar ao carrinho">
                </div>
                <form action="#">
                    <p>Calcule seu frete</p>
                    <p>CEP:</p>
                    <input id="cep" type="number" name="" id="">
                    <input id="ok" type="submit" value="OK">
                </form>
                <hr>
                <div id="about">
                    <h2>Descrição</h2>
                    <p>A maçã é o fruto da macieira, árvore da família Rosaceae,
                        com tronco de casca parda, lisa e copa arredondada que
                        chega a 10 m de altura. A fruta mais cultivada do mundo é
                        originária da Ásia e da Europa. Existem mais de 2,5 mil
                        espécies de maçã. </p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>