<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/default.css"/>
  <link rel="stylesheet" href="css/cadastro.css"/>
  <script src="js/dropdown.js" defer></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
    <title>Cadastro</title>
</head>
<body>
    <%- include("./partials/header")%>

    <main id="form">
        <div class="container section">
            <h2 class="form__title">Cadastrar-se</h1>
            <p class="form__paragraph">Já tem uma conta? Faça seu <a href="#">login</a></p>

            <form action="" method="post" class="form__details">
                <div class="details__box">
                    <label for="name">Nome:</label>
                    <input type="text" id="name" name="name">
                </div>

                <div class="details__box">
                    <label for="lastname">Sobrenome:</label>
                    <input type="text" id="lastname" name="lastname">
                </div>

                <div class="details__box">
                    <label for="cpf">CPF:</label>
                    <input type="number" id="cpf" name="cpf">
                </div>

                <div class="details__box">
                    <label for="andress">Endereço:</label>
                    <input type="text" id="andress" name="andress">
                </div>

                <div class="details__box">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email">
                </div>

                <div class="details__box">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password">
                </div>

                <div class="details__box no_shadow">
                    <input type="checkbox" id="term" name="term">
                    <label for="term">Aceito que li os termos de serviço.</label>
                </div>

                <div class="details__submit flex-end">
                    <button type="submit" class="btn">Concluir</button>
                </div>
            </form>
        </div>
    </main>

    <%- include("./partials/footer")%>
</body>
</html>