<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trabalhando com flexbox</title>
    <link rel="stylesheet" href="../../public/css/default.css">
    <link rel="stylesheet" href="../../public/css/carrinho.css" />
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/footer.css">
  </head>

  <body>
    
    <main class="container">
      <h1>Carrinho</h1>
      <div class="top">
        <div class="top-produto">
          <img
            class="imgMaca"
            src="../../public/image/imgCarrinho/maca.png"
            alt="maçã"
          />
          <p class="nomeProduto">MAÇÃ VERMELHA</p>
        </div>

        <div class="top-quant-valor">
          <button class="button1">500 +</button>
          <p class="valorProduto">R$12,35</p>
        </div>
      </div>

      <div class="risco"><hr /></div>

      <div class="mid">
        <div class="mid-frete">
          <p>Frete</p>
          <p>Total com frete</p>
        </div>

        <div class="mid-valor">
          <p>R$ 5,00</p>
          <p>R$17,35</p>
        </div>
      </div>

      <div class="risco"><hr /></div>

      <div class="bottom">
        <button class="button2">Finalizar Compra</button>
      </div>
    </main>
  </body>
</html>
