<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/home.css" />
  </head>
  <body>
    <main>
      <div id="banner">
        <a href="#"><img src="../../public/image/Banner.jpg" alt="banner" /></a>
      </div>
      <div id="carrossel">
        <div class="carrossel">
          <a href="#"
            ><img src="../../public/image/frutas.jpg" alt="frutas"
          /></a>
        </div>
        <div class="carrossel">
          <a href="#"
            ><img src="../../public/image/legumes.jpg" alt="legumes"
          /></a>
        </div>
        <div class="carrossel">
          <a href="#"
            ><img src="../../public/image/hortalicas.jpg" alt="hortaliças"
          /></a>
        </div>
      </div>
      <div id="categorias">
        <div class="medium">
          <a href="#"
            ><img src="../../public/image/promocao.jpg" alt="promoção"
          /></a>
        </div>
        <div id="large">
          <a href="#"
            ><img src="../../public/image/promocao.jpg" alt="promoção"
          /></a>
        </div>
        <div class="medium">
          <a href="#"
            ><img src="../../public/image/promocao.jpg" alt="promoção"
          /></a>
        </div>
      </div>
      <div id="container">
        <div class="produtos">
          <a href="#">
            <img src="../../public/image/laranja.jpg" alt="laranja" />
            <p>laranja 500g</p>
            <p>R$ 2,99</p>
          </a>
        </div>
        <div class="produtos">
          <a href="#">
            <img src="../../public/image/maca.jpg" alt="maçã" />
            <p>Maçã 500g</p>
            <p>R$ 2,99</p>
          </a>
        </div>
        <div class="produtos">
          <a href="#">
            <img src="../../public/image/banana.jpg" alt="banana" />
            <p>Banana 500g</p>
            <p>R$ 2,99</p>
          </a>
        </div>
        <div class="produtos">
          <a href="#">
            <img src="../../public/image/morango.jpg" alt="morango" />
            <p>Tomate 500g</p>
            <p>R$ 2,99</p>
          </a>
        </div>
        <div class="produtos">
          <a href="#">
            <img src="../../public/image/tomate.jpg" alt="tomate" />
            <p>Tomate 500g</p>
            <p>R$ 2,99</p>
          </a>
        </div>
        <div class="produtos">
          <a href="#">
            <img src="../../public/image/cenoura.jpg" alt="cenoura" />
            <p>Cenoura 500g</p>
            <p>R$ 2,99</p>
          </a>
        </div>
        <div class="produtos">
          <a href="#">
            <img src="../../public/image/alface.jpg" alt="alface" />
            <p>Alface 500g</p>
            <p>R$ 2,99</p>
          </a>
        </div>
        <div class="produtos">
          <a href="#">
            <img src="../../public/image/salsa.jpg" alt="salsa" />
            <p>Salsa 500g</p>
            <p>R$ 2,99</p>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
