<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="bg-green-100">
    <header class="sticky top-0 z-10 flex justify-center w-full bg-green-500 shadow-lg shadow-green-200">
        <div class="container p-4">
            <div class="grid grid-cols-2 items-center">
                <div>
                    <a href="/" class="text-3xl font-semibold text-white tracking-wide">Ifruits</a>
                </div>
    
                <div class="flex justify-end items-center gap-4">
                    <a href="/" class="relative fill-white font-normal w-5 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/>
                        </svg>
                    </a>

                    <a href="/" class="relative fill-white font-normal w-6 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M24 0C10.7 0 0 10.7 0 24S10.7 48 24 48H76.1l60.3 316.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24-10.7 24-24s-10.7-24-24-24H179.9l-9.1-48h317c14.3 0 26.9-9.5 30.8-23.3l54-192C578.3 52.3 563 32 541.8 32H122l-2.4-12.5C117.4 8.2 107.5 0 96 0H24zM176 512c26.5 0 48-21.5 48-48s-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48zm336-48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48z"/>
                        </svg>
                    </a>
    
                    <a href="/login" class="relative fill-white font-normal w-5 cursor-pointer">
                        <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                        </svg>
                    </a>
                </div>
            </div>  
        </div>
    </header>

    <section class="w-full mb-4">
        <img class="w-full h-80 object-cover" src="https://images.unsplash.com/photo-1553546895-531931aa1aa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80" alt="">
    </section>

    <div class="w-full my-4 flex justify-center">
        <div class="container p-4">
            <div>
                <h1 class="text-center text-2xl font-semibold text-green-700 lg:text-3xl">Horti Fruti exclusivo para você!</h1>
                <p class="text-center lg:text-lg text-green-600">As melhores frutas somente aqui no Ifruits</p>
            </div>
        </div>
    </div>

    <section class="w-full flex justify-center">
        <div class="container p-4 flex gap-4 justify-center flex-wrap">
            <button type="button" class="inline-block px-6 py-2.5 bg-green-600 text-white font-medium text-base leading-tight capitalize rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out">Frutas</button>

            <button type="button" class="inline-block px-6 py-2.5 bg-green-600 text-white font-medium text-base leading-tight capitalize rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out">Legumes</button>

            <button type="button" class="inline-block px-6 py-2.5 bg-green-600 text-white font-medium text-base leading-tight capitalize rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out">laticínios</button>

            <button type="button" class="inline-block px-6 py-2.5 bg-green-600 text-white font-medium text-base leading-tight capitalize rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out">Verduras</button>

            <button type="button" class="inline-block px-6 py-2.5 bg-green-600 text-white font-medium text-base leading-tight capitalize rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out">Vegetais</button>

            <button type="button" class="inline-block px-6 py-2.5 bg-green-600 text-white font-medium text-base leading-tight capitalize rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out">Temperos</button>
        </div>
    </section>

    <section class="w-full flex justify-center">
        <div class="container p-4">
            <h2 class="text-2xl text-green-800 font-medium mb-4">Produtos</h2>

            <div class="flex gap-4 flex-wrap justify-center sm:justify-start">
                <div class="rounded-lg shadow-lg bg-white w-48 md:w-56 max-w-fit">
                  <div>
                    <img class="rounded-t-lg" src="https://images.unsplash.com/photo-1582281298055-e25b84a30b0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=605&q=80" alt=""/>
                  </div>

                  <div class="p-6">
                    <h5 class="text-gray-900 text-xl font-medium mb-2">Melancia</h5>
                    <p class="text-base">$12.00</p>
                  </div>
                </div>
                
                <div class="rounded-lg shadow-lg bg-white w-48 md:w-56">
                    <div>
                      <img class="rounded-t-lg" src="https://images.unsplash.com/photo-1587049633312-d628ae50a8ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt=""/>
                    </div>
  
                    <div class="p-6">
                      <h5 class="text-gray-900 text-xl font-medium mb-2">Cebola</h5>
                      <p class="text-base">$12.00</p>
                    </div>
                </div>

                <div class="rounded-lg shadow-lg bg-white w-48 md:w-56">
                    <div>
                      <img class="rounded-t-lg" src="https://images.unsplash.com/photo-1587132137056-bfbf0166836e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt=""/>
                    </div>
  
                    <div class="p-6">
                      <h5 class="text-gray-900 text-xl font-medium mb-2">Banana</h5>
                      <p class="text-base">$12.00</p>
                    </div>
                </div>

                <div class="rounded-lg shadow-lg bg-white w-48 md:w-56">
                    <div>
                      <img class="rounded-t-lg" src="https://images.unsplash.com/photo-1587486937303-32eaa2134b78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=581&q=80" alt=""/>
                    </div>
  
                    <div class="p-6">
                      <h5 class="text-gray-900 text-xl font-medium mb-2">Limão</h5>
                      <p class="text-base">$12.00</p>
                    </div>
                  </div>

                  <div class="rounded-lg shadow-lg bg-white w-48 md:w-56">
                    <div>
                      <img class="rounded-t-lg" src="https://images.unsplash.com/photo-1583119022894-919a68a3d0e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt=""/>
                    </div>
  
                    <div class="p-6">
                      <h5 class="text-gray-900 text-xl font-medium mb-2">Pimenta</h5>
                      <p class="text-base">$12.00</p>
                    </div>
                  </div>

                  <div class="rounded-lg shadow-lg bg-white w-48 md:w-56">
                    <div>
                      <img class="rounded-t-lg" src="https://images.unsplash.com/photo-1615485925763-86786288908a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt=""/>
                    </div>
  
                    <div class="p-6">
                      <h5 class="text-gray-900 text-xl font-medium mb-2">Uva</h5>
                      <p class="text-base">$12.00</p>
                    </div>
                  </div>

                  <div class="rounded-lg shadow-lg bg-white w-48 md:w-56">
                    <div>
                      <img class="rounded-t-lg" src="https://images.unsplash.com/photo-1587049332298-1c42e83937a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt=""/>
                    </div>
  
                    <div class="p-6">
                      <h5 class="text-gray-900 text-xl font-medium mb-2">Alho</h5>
                      <p class="text-base">$12.00</p>
                    </div>
                  </div>

                  <div class="rounded-lg shadow-lg bg-white w-48 md:w-56">
                    <div>
                      <img class="rounded-t-lg" src="https://images.unsplash.com/photo-1587486936739-78df7470c7e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=581&q=80" alt=""/>
                    </div>
  
                    <div class="p-6">
                      <h5 class="text-gray-900 text-xl font-medium mb-2">Manga</h5>
                      <p class="text-base">$12.00</p>
                    </div>
                  </div>
            </div>
        </div>
    </section>

    <footer class="flex justify-center w-full bg-green-700 px-4 py-2 mx-auto">
        <div class="container p-4">
            <div class="grid gap-4 justify-center sm:flex sm:justify-between">
                <div class="text-center sm:text-start">
                    <span class="text-base font-normal text-white tracking-wide">© 2022 Company, Inc. All rights reserved.</span>
                </div>
    
                <div>
                    <ul class="flex gap-4 items-center justify-center">
                        <li class="w-5">
                            <a href="#" class="relative fill-white font-normal cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
                                    <path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/>
                                </svg>
                            </a>
                        </li>
    
                        <li class="w-5">
                            <a href="#" class="relative fill-white font-normal cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                                </svg>
                            </a>
                        </li>
    
                        <li class="w-5">
                            <a href="#" class="relative fill-white font-normal cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>