<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../public/css/default.css">
    <link rel="stylesheet" href="../../public/css/login.css">
</head>
<body>
    <section class="container">
        <h1>Login</h1>
        <h2>Já tem uma conta? Acesse.</h2>
        <div class="acess">
            <form action="">
                <label for="email" class="notVisible">Email</label>
                <input type="email" name="email" id="email" class="inputLogin" placeholder="  email@example.com" required>
                <label for="password" class="notVisible">Senha</label>
                <input type="password" name="password" id="password" class="inputLogin" placeholder="  Digite sua senha" required>
                <div class="opcoesSenha">
                    <div>
                        <input type="checkbox" name="remember" id="remember">
                        <label for="remember">Lembrar minha senha</label>
                    </div>
                    <a href="./recuperarSenha.html">Esqueceu a senha ?</a>
                </div>
                <button type="submit">Acessar</button>
            </form>
        </div>
        <div class="register">
            <span>Ainda não tem uma conta?</span>
            <input type="button" value="Cadastre-se">
        </div>

    </section>
</body>
</html>