<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../public/css/default.css">
    <link rel="stylesheet" href="../../public/css/login.css">
</head>
<body>
    <section class="container">
        <h1>Login</h1>
        <div id="acess">
            <span>Já tem uma conta? Acesse.</span>
            <form action="">
                <input type="email" name="email" id="email" placeholder="  email@example.com" required>
                <input type="password" name="password" id="password" placeholder="  Digite sua senha" required>
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">Lembrar minha senha</label>
                <a href="#">Esqueci minha senha</a>
                <button type="submit">Acessar</button>
            </form>
        </div>
        <div id="register">
            <span>Ainda não tem uma conta?</span>
            <input type="button" value="Cadastre-se">
        </div>

    </section>
</body>
</html>