    <%- include("./partials/head") %>

    <link rel="stylesheet" href="css/meusPedidos.css">
    <link rel="stylesheet" href="css/dadosPessoais.css">
</head>
<body>
    <%- include("./partials/header") %>

    <main id="dadosPessoais">
        <div class="container">
            <h2 class="dadosPessoais_titulo">Dados Pessoais</h2>

            <div class="dados">
                <div class="dadosPessoais_dados">
                    <span class="dados_identificacao">Nome:</span>
                    <span class="dados_campo">Felipe</span>
                </div>
    
    
                <div class="dadosPessoais_dados">
                    <span class="dados_identificacao">Sobrenome:</span>
                    <span class="dados_campo">Alencar da Silva</span>
                </div>
    
                <div class="dadosPessoais_dados">
                    <span class="dados_identificacao">CPF:</span>
                    <span class="dados_campo">123.456.789-01</span>
                </div>
    
                <div class="dadosPessoais_dados">
                    <span class="dados_identificacao">Endereço:</span>
                    <span class="dados_campo">Rua Alencar Bezera</span>
                </div>
    
                <div class="dadosPessoais_dados">
                    <span class="dados_identificacao">Email:</span>
                    <span class="dados_campo">felipe.alencar@gmail.com</span>
                </div>
            </div>

            <div class="dados_editar">
                <button>editar</button>
            </div>
        </div>
    </main>

    <section id="meusPedidos">
        <div class="container">
            <h2 class="pedidos_titulo">Meus Pedidos</h2>

            <div class="pedidos">
                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                        <span>130g</span>
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>

                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                        <span>130g</span>
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>

                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                        <span>130g</span>
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>

                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                        <span>130g</span>
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>

                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                        <span>130g</span>
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("./partials/footer") %>
</body>
</html>