    <%- include("./partials/head") %>

    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/perfil-usuario.css">
</head>
<body>
    <%- include("./partials/header") %>

    <main id="form">
        <div class="container section">
            <h2 class="form__title">Dados Pessoais</h2>

            <div class="details__details">
                <div class="details__box">
                    <label for="name">Nome:</label>
                    <span class="box__value">Felipe</span>
                </div>
    
    
                <div class="details__box">
                    <label for="lastname">Sobrenome:</label>
                    <span>Alencar da Silva</span>
                </div>
    
                <div class="details__box">
                    <label for="cpf">CPF:</label>
                    <span>123.456.789-01</span>
                </div>
    
                <div class="details__box">
                    <label for="andress">Endereço:</label>
                    <span>Rua Alencar Bezera</span>
                </div>
    
                <div class="details__box">
                    <label for="email">Email:</label>
                    <span>felipe.alencar@gmail.com</span>
                </div>
            </div>

            <div class="details__submit j-flex-end">
                <button class="btn">editar</button>
            </div>
        </div>
    </main>

    <section id="meusPedidos">
        <div class="container section">
            <h2 class="pedidos_titulo">Meus Pedidos</h2>

            <div class="pedidos">
                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>

                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                         
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>

                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                         
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>

                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                         
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>

                <div class="pedidos_cartao">
                    <span class="pedido_data"><strong>Data do Pedido:</strong> 27/10/1999</span>

                    <div class="cartao_img">
                        <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/07/04-14.png" alt="maça">
                    </div>
                    
                    <div class="cartao_dados">
                        <h4>Maça Vermelha</h4>
                        
                         
                        <strong id="valor">R&#36; 12,50</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("./partials/footer") %>
</body>
</html>