<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/default.css">
    <link rel="stylesheet" href="../../public/css/sobre.css">

    
    <title>Sobre nós</title>
</head>
    <body>
        <main class="container">
            <h3 class="titulo-sobre">Sóbre nós</h3>

        <section class="about">
            <div class="about-text">
                <p>
                O Projeto IFruits nasceu do trabalho em equipe de integrantes da 32° turma de Desenvolvimento Web Full Stack da Digital House.
                </p>
                <p>
                Levando em conta os tempos atuais vivídos no mundo, vemos a necessidade de se pensar em conscientização social mais do que nunca. Assim, decidimos levar como parámetro para esse projeto os Objetivos de Desenvolvimento sustentáveis da ONU (Metas globais), especificamente os 3° primeiros.
                </p>
            </div>

            <div class="about-img">
                <img src="../../public/image/imgSobre/SDG-1.png" alt="">
                <img src="../../public/image/imgSobre/SDG-2.png" alt="">
                <img src="../../public/image/imgSobre/SDG-3.png" alt="">
            </div>

            <div class="about-text">
                <p>
                O IFruits tem como objetivo viabilizar uma plataforma gratuita para feirantes e vendedores de Hortifruti autonomos que tem a necessidade de um site prático, simples, com foco exclusivamente nos produtos que eles podem oferecer, de fácil uso e acesso.
                </p>
            </div>

        </section>
        <hr>
        <section class="identity">
            <div class="iden-text">
                <h4> MISSÃO</h4>
                <p>
                Promover facilidades no adquirimento de produtos saudáveis, com praticidade e responsabilidade social.
                </p >
            </div>

            <div class="iden-img"><img src="../../public/image/imgSobre/01missao.png" alt=""></div>

            <div class="iden-text">
                
                    <h4> VISÃO</h4>
                    <p>
                Visamos conectar pessoas, fazer um mundo mais próximo e unido, onde podemos pensar em conjunto e criar soluções inovadoras para os desafios e dificuldades do mundo moderno.
                </p>
            </div>

            <div class="iden-img">
                <img src="../../public/image/imgSobre/02visao.png" alt="">
            </div>

            <div class="iden-text">
                <h4>VALORES</h4>
                <p>
                Responsabilidade social, tecnologia sustentável e cooperação
                </p>
            </div>

            <div class="iden-img">
                <img src="../../public/image/imgSobre/03valores.png" alt="">
            </div>
        </section>
        </main>
    </body>
</html>