<footer id="footer">
    <div class="container">
        <p>&#169; 2022 Ifruits, Inc. All rights reserved</p>

        <ul>
            <li>
                <a href="#" class="footer_redesSociais">
                    <i class="fa-brands fa-facebook"></i>
                </a>        
            </li>

            <li>
                <a href="#" class="footer_redesSociais">
                    <i class="fa-brands fa-instagram"></i>
                </a>        
            </li>

            <li>
                <a href="#" class="footer_redesSociais">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>