<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>

    <link rel="stylesheet" href="css/default.css" />
    <script src="js/dropdown.js" defer></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header id="header">
      <div class="container">
        <div class="header">
          <a href="#" class="header__logo">
            <img src="image/logo.svg" alt="Logo Ifruits" />
          </a>

          <div class="header__actions">
            <i class="fa-solid fa-magnifying-glass" id="clickSearch"></i>

            <i class="fa-solid fa-user" id="clickMenu"></i>

            <nav class="menuUser" id="dropMenu">
              <a href="#" class="menuUser__items">Conta</a>
              <a href="#" class="menuUser__items">Carrinho</a>
            </nav>
          </div>
        </div>

        <div class="dropSearch">
          <form class="search">
            <label for="search"
              ><i class="fa-solid fa-magnifying-glass"></i
            ></label>
            <input type="text" placeholder="Pesquisar" name="search" />
          </form>
        </div>
      </div>
    </header>
  </body>
</html>
