<header id="header">
    <nav class="container">
        <div class="header_menu">
            <div>
                <a href="#" class="menu_logo">
                    <img src="image/logo.svg" alt="logo do Ifruits">
                </a>
            </div>

            <div class="menu_icones">
                <ul>
                    <li>
                        <i class="fa-solid fa-user"></i>
                    </li>

                    <li>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </li>

                    <li>
                        <i class="fa-solid fa-bars"></i>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <form>
                <div class="input_procurar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Pesquise aqui">
                </div>
            </form>
        </div>
    </nav>
</header>
